body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #68b2cf;
}

@font-face {
    font-family: 'Play';
    src: url('/assets/fonts/Play-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}